<% content_for :head do %>
	<script type="text/javascript" src="/js/is_building.js"></script>
<% end %>

<div id="main-container">
	<div id="map-container">
		<div id="map"></div>
	</div>
	<div id="buttons">
		<a href="javascript:;" id="no-button">NO</a>
		<a href="javascript:;" id="fix-button">NEEDS FIXING</a>
		<a href="javascript:;" id="yes-button">YES</a>
	</div>
</div>
