<% content_for :page_title do %>Building Inspector by NYPL Labs<% end %>

<% content_for :dynamic_js do %>
	<script type="text/javascript">
	// var addToHomeConfig = {
	// 	lifespan:4000
	// };
	</script>
	<%# stylesheet_link_tag    "add2home", :media => "all" %>
	<%= stylesheet_link_tag    "fixer", :media => "all" %>
	<%# stylesheet_link_tag    "jquery.swipeshow", :media => "all" %>
	<%# stylesheet_link_tag    "slideshow-theme", :media => "all" %>

	<%# javascript_include_tag "add2home" %>

	<%# javascript_include_tag "jquery.swipeshow.min" %>
	<%= javascript_include_tag "tag_building", {:id => "tagbuildingjs", "data-session" => "#{@isNew}", "data-map" => "#{@map}"} %>
<% end %>

<%= render :partial => "partials/nav" %>

<div id="main-container">
	<div id="loader">LOADING</div>
	<div id="app-highlight"></div>
	<div id="map-highlight"></div>
	<div id="map-container">
		<div id="map"></div>
	</div>
</div>
<div id="controls">
	<%= render :partial => "partials/score" %>
	<div id="buttons">
		<div class="wrapper">
			<a href="javascript:;" id="no-button" title="Keyboard shortcut: 1">NO</a>
			<a href="javascript:;" id="fix-button" title="Keyboard shortcut: 2">FIX</a>
			<a href="javascript:;" id="yes-button" title="Keyboard shortcut: 3">YES</a>
	</div>
</div>
