<% content_for :page_title do %>Building Inspector by NYPL Labs<% end %>

<% content_for :dynamic_js do %>
	<%= javascript_include_tag "bbox" %>
	<%= javascript_include_tag "webkit-db" %>
<% end %>


<div id="main-container">
	<div id="map-container" class="progress">
		<div id="map"></div>
	</div>
</div>
