<% content_for :page_title do %>Status<% end %>

<% content_for :dynamic_js do %>
	<%= javascript_include_tag "status" %>
	<%= stylesheet_link_tag    "fixer", :media => "all" %>
<% end %>


<div id="main-container">
	<div id="main-container">
		<div id="map-container" class="progress">
			<div id="map"></div>
		</div>
	</div>
</div>