<% content_for :page_title do %>About - Building Inspector by NYPL Labs<% end %>
<% content_for :dynamic_js do %>
	<%= stylesheet_link_tag    "home", :media => "all" %>
<% end %>

<%= render :partial => "partials/nav" %>

<div id="main-container">
	<div class="intro about">
		<h3>What's this all about?</h3>

		<p>For years The New York Public Library has collected maps documenting the ever-changing metropolis. Originally commissioned by insurance companies to assess property value and fire risk, these street atlases are a goldmine for historical detectives scholarly or casual, providing a wealth of detailed information about a city now largely lost to us: buildings erased, streets renamed, whole neighborhoods redrawn or redefined. Connecting these lost places to contemporary digital maps allows us to drill down through the layers of urban change and study the city in profound new ways. But harvesting the data isn't easy.</p>

		<p>That's where the Building Inspector (and you) come in. This app is the latest in a growing suite of public tools and games designed by The Library to extract, correct and analyze data from historical maps. We're training computers to do the heavy lifting, and then distributing the remaining quality control and data authoring tasks to smart, motivated citizens. The goal? To produce a comprehensive data repository of New York City's historical places — or, as we like to think of it, to build a time machine.</p>

		<p>Questions? Comments? Want to stay in touch as the project develops? Contact us at <a href="mailto:buildinginspector@nypl.org">buildinginspector@nypl.org</a>.</p>

		<h4>Tell me more...</h4>

		<p>Building Inspector was made by <a href="http://www.nypl.org/labs"NYPL Labs</a> in collaboration with the <a href="http://www.nypl.org/locations/schwarzman/map-division"> Lionel Pincus and Princess Firyal Map Division</a> at The New York Public Library. The app works with digitized city atlases georeferenced by librarians and public volunteers on the NYPL <a href="http://maps.nypl.org">Map Warper</a>. These rectified maps are then passed through a new computer vision process devised by NYPL Labs called the <a href="https://github.com/NYPL/map-vectorizer">Map Vectorizer</a>, which detects building footprints and converts them to machine-readable shape files with surprising accuracy.</p>

		<p>This is a big leap forward in the work of digitizing maps. Until now, building extraction has been done manually by staff and volunteers, tracing each individual building footprint painstakingly by hand. It can take months or years to complete a single atlas via this method. The Vectorizer can crunch through an entire borough in a matter of hours. However, due to the complex visual language of maps, the data does sometimes have errors. That's where you come in: helping the library determine if the data is good, needs a fix or needs to be redone.</p>

		<p>But enough yapping. Let's inspect some buildings!</p>

		<div id="logo-background">
			<%= link_to "GO!", "/fixer/building", :id => "link-try" %>
		</div>
	</div>
</div>

<%= render :partial => "partials/footer" %>
