<div id="main-container">

    <div id="intro">
	    <h1>Polygonzo!</h1>
    	<%= image_tag "intro.gif" %>
    </div>
    <%= link_to "Try it", "/fixer/building", :id => "link-try" %>
    <%= link_to "Tutorial", "/fixer/building?tutorial=true" %>

    <p>Aenean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet fermentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
    <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Cras mattis consectetur purus sit amet fermentum.</p>

</div>