<% content_for :page_title do %>Building Inspector<% end %>

<div id="main-container">
	<div id="logo-background">
		<%= link_to (content_tag "span","The New York Public Library"), "http://www.nypl.org", {:id => "link-nypl", :title => "Visit NYPL.org"} %>

		<h1><span>Building Inspector</span></h1>

	    <div id="intro">
		    <%= link_to "GO!", "/fixer/building", :id => "link-try" %>
	    	<p>Help trace New York City's past</p>
		    <p>NYPL Labs and the Lionel Pincus and Princess Firyal Map Division at The New York Public Library</p>
	    </div>

	<%= render :partial => "partials/footer" %>
	</div>
</div>