<% content_for :page_title do %>Building Inspector<% end %>
<% content_for :dynamic_js do %>
	<script type="text/javascript">
	// scroll to top (hide bar in ios)
	window.addEventListener("load",function() {
		setTimeout(function(){
			window.scrollTo(0, 1);
		}, 0);
	});
	</script>
	<style>
		#top-nav h1.logo {
			left: 40%;
		}
	</style>
<% end %>

<%= render :partial => "partials/nav" %>

<div id="main-container">
	<h3>Help trace New York City's past</h3>
	<p>This is one intro paragraph. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
	<div id="logo-background">
		<%= link_to "GO!", "/fixer/building", :id => "link-try" %>
	</div>
	<div class="intro">
		<p>This is a longer paragraph. Curabitur blandit tempus porttitor. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo. Donec sed odio dui.</p>
		<p>Brought to you by:<br /><a href="http://www.nypl.org/collections/labs">NYPL Labs</a> and the <a href="http://www.nypl.org/locations/schwarzman/map-division">Lionel Pincus and Princess Firyal Map Division</a></p>
	</div>
</div>

<%= render :partial => "partials/footer" %>
