<%= link_to (content_tag "span","The New York Public Library"), "http://www.nypl.org", :id => "link-nypl" %>

<div id="main-container">

    <div id="intro">
	    <h1><span>Building Inspector</span></h1>
    </div>
    <%= link_to "Try it", "/fixer/building", :id => "link-try" %>
    <%= link_to "Tutorial", "/fixer/building?tutorial=true" %>

    <p>This will be the about</p>
    <p>Aenean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet fermentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
    <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Cras mattis consectetur purus sit amet fermentum.</p>

</div>