<h1>Polygonzo</h1>

<p>Description of the project, and a map:</p>
<%= image_tag "tutorial-intro.png" %>

<div>
<%= link_to "Try it", "/fixer/building" %>
<%= link_to "Tutorial", "/fixer/building?tutorial=true" %>
</div>
