<% content_for :page_title do %>Bldg Inspector<% end %>
<% content_for :dynamic_js do %>
	<script type="text/javascript">
	// scroll to top (hide bar in ios)
	window.addEventListener("load",function() {
		setTimeout(function(){
			window.scrollTo(0, 1);
		}, 0);
	});
	</script>
	<style>
	@media screen and (min-width: 480px) {
		#main-container {height: 100%;}
	}
	</style>
<% end %>

<%= render :partial => "partials/nav" %>

<div id="main-container">
	<div id="logo-background">
		<%= link_to "GO!", "/fixer/building", :id => "link-try" %>
	</div>

	<div id="intro">
		<h3>Help trace New York City's past</h3>
		<p>Brought to you by NYPL Labs and the Lionel Pincus and Princess Firyal Map Division</p>
	</div>
</div>