<% content_for :page_title do %>Building Inspector<% end %>
<% content_for :dynamic_js do %>
	<%= stylesheet_link_tag    "home", :media => "all" %>
	<script type="text/javascript">
	// scroll to top (hide bar in ios)
	window.addEventListener("load",function() {
		setTimeout(function(){
			window.scrollTo(0, 1);
		}, 0);
	});
	</script>
<% end %>

<%= render :partial => "partials/nav" %>

<div id="main-container">
	<h3>Help trace<br />New York City's<br />past</h3>
	<div id="logo-background">
		<%= link_to "GO!", "/fixer/building", :id => "link-try" %>
	</div>
	<div class="intro">
		<p>The New York Public Library is training computers how to recognize building shapes and other information from old city maps. We need your help clean up the data so the Library can open it up for use in research, teaching and civic hacking.</p>
	</div>
</div>

<%= render :partial => "partials/footer" %>
