<% content_for :page_title do %>Bldg Inspector<% end %>
<% content_for :dynamic_js do %>
	<script type="text/javascript">
	// scroll to top (hide bar in ios)
	window.addEventListener("load",function() {
		setTimeout(function(){
			window.scrollTo(0, 1);
		}, 0);
	});
	</script>
	<style>
	@media screen and (min-width: 480px) {
		#main-container {height: 100%;}
	}
	</style>
<% end %>
<div id="main-container">
	<div id="logo-background">
		<h1 class="logo"><span>Building Inspector</span></h1>

	    <%= link_to "GO!", "/fixer/building", :id => "link-try" %>

	    <div id="intro">
	    	<p>Help trace New York City's past</p>
		    <p>NYPL Labs and the Lionel Pincus and Princess Firyal Map Division at:</p>
			<%= link_to (content_tag "span","The New York Public Library"), "http://www.nypl.org", {:id => "link-nypl", :title => "Visit NYPL.org"} %>
	    </div>
	</div>
</div>