<div id="map-about">
	<%= link_to (content_tag "span", "CLOSE"), "javascript:;", {:id => "link-about-close", :class => "close"} %>
    <h1><span>Building Inspector</span></h1>
    <p>The New York Public Library is training computers how to recognize building shapes and other information from old city maps. Help clean up the data for use in research, teaching and civic hacking.</p>
    <p>Current source: <a href="http://digitalcollections.nypl.org/search/index?filters%5Btitle_uuid_s%5D%5B%5D=Maps%20of%20the%20city%20of%20New%20York.%7C%7C06fd4630-c603-012f-17f8-58d385a7bc34&keywords=&layout=false"> Maps of the City of New York, 1857-62</a>. Surveyed under directions of insurance companies of said city by William Perris, Civil Engineer and Surveyor.</p>
</div>