<div id="home-explained">
  <h2>How does this work?</h2>
  <p>(work in progress... ignore for now)</p>
  <p>It all begins in one of our <%= link_to "10,000+ atlases", "http://maps.nypl.org" %></p>
  <div id="rectified-svg"><%= render :partial => "partials/map.vectorized.svg" %></div>
</div>
