  <div id="legend">
    <% if type=="progress_geometry" %>
    <ul>
      <li><span class="color yes"></span> Yes</li>
      <li><span class="color no"></span> No</li>
      <li><span class="color fix"></span> Fix</li>
      <% if mode=="all" %>
      <li><span class="color nil"></span> Pending</li>
      <% end %>
    </ul>
    <% elsif type=="progress_color" %>
    <ul>
      <li><span class="color pink"></span> Pink</li>
      <li><span class="color blue"></span> Blue</li>
      <li><span class="color yellow"></span> Yellow</li>
      <li><span class="color green"></span> Green</li>
      <li><span class="color gray"></span> Gray</li>
      <% if mode=="all" %>
      <li><span class="color nil stroked"></span> Pending</li>
      <% end %>
    </ul>
    <% end %>
  </div>
