	<div id="legend">
		<% if @current_page=="progress_all" || @current_page=="progress" %>
		<ul>
			<li><span class="color yes"></span> Yes</li>
			<li><span class="color no"></span> No</li>
			<li><span class="color fix"></span> Fix</li>
		<% if @current_page=="progress_all" %>
			<li><span class="color nil"></span> Pending</li>
		<% else %>
		<% end %>
		</ul>
		<% end %>
	</div>
