<div id="top-nav">
	<%= link_to (content_tag "span","The New York Public Library"), "http://www.nypl.org", {:class => "nypl-logo", :title => "Visit NYPL.org"} %>
	<h1 class="logo"><a href="/" id="home-logo"><span>Building Inspector</span></a></h1>
	<div id="links-service">
		<%
		help_link = "/building?tutorial=true"
		help_link = "javascript:;" if @current_page=="fixer"
		%>
		<%= link_to "HELP", "#{help_link}", {:id => "link-help", :class => "icon"} %>
		<%= link_to "ABOUT", "/general/about", {:id => "link-about", :class => "icon"} %>
	</div>
</div>
