<div id="top-nav">
	<h1 class="logo"><a href="/"><span>Building Inspector</span></a></h1>
	<div id="links-service">
		<%
		help_link = "/building?tutorial=true"
		help_link = "javascript:;" if @current_page=="fixer"
		%>
		<%= link_to "HELP", "#{help_link}", {:id => "link-help", :class => "icon"} %>
		<%= link_to "ABOUT", "/general/about", {:id => "link-about", :class => "icon"} %>
	</div>
</div>
