<div id="top-nav">
	<% if @current_page != 'homepage' %><%= link_to "Home", "/" %> &middot; <% end %>
	<!-- <%= link_to "Polygonzo!", "/fixer/building" %> &middot; -->
	<%= link_to "About", "/general/about" %> &middot;
	<%= link_to "Help", "/general/help" %>
</div>
