<script>
// assumes jquery
$(function() {
	var menuOn = false;
	var searchOn = false;

	$(document).mouseup(
		function (e) {
			var container = $("#nypl-search-top");
			var container2 = $("#nypl-navbar > li.search");

			if (searchOn && container.has(e.target).length === 0 && container2.has(e.target).length === 0) {
				searchOn = false;
				container.removeClass("visible");
			}

			container = $("#nypl-header");

			if (menuOn && container.has(e.target).length === 0) {
				menuOn = false;
				$("#nypl-navbar > li").removeClass("visible");
			}
		}
	);

	$("#nypl-search-toggle").click(
		function() {
			var c = $("#nypl-search-top");
			if (searchOn) {
				searchOn = false;
				c.removeClass("visible");
			} else {
				searchOn = true;
				c.addClass("visible");
			}
			return false;
		}
	);

	$("#nypl-menu-toggle").click(
		function() {
			var c = $("#nypl-navbar > li");
			if (menuOn) {
				menuOn = false;
				c.removeClass("visible");
			} else {
				menuOn = true;
				c.addClass("visible");
				// $("#nypl-search-top").show();
			}
			return false;
		}
	);

	$("#nypl-search-button-catalog").click(
		function() {
			$("#nypl-search-q").val($("#search-block-form-input").val());
			$("#nypl-search-block-form").attr("action", "http://nypl.bibliocommons.com/search");

			_gaq.push(['_trackEvent', 'Outbound Links', 'NYPL footer link', 'NYPL search catalog'])

			$("#nypl-search-block-form").submit();
			return false;
		}
	);

	$("#nypl-search-button-nypl").click(
		function() {
			$("#nypl-search-block-form").attr("action", "http://www.nypl.org/search/apachesolr_search/" + $("#search-block-form-input").val());
			$("#nypl-search-block-form").attr("method", "post");

			_gaq.push(['_trackEvent', 'Outbound Links', 'NYPL footer link', 'NYPL search site'])

			$("#nypl-search-block-form").submit();
			return false;
		}
	);

	// delayed hover
	var _id = 0;
	var _time = 500; // ms
	$("#nypl-navbar > li").hover(
		function (e) {
			// mouseover
			_id = setInterval(
				function () {
					clearInterval(_id);
					$(e.currentTarget).find("div").first().addClass("show");
				}
				, _time
			);
		}
		, function (e) {
			// mouseout
			$(e.currentTarget).find("div").first().removeClass("show");
			if (_id != 0) {
				clearInterval(_id);
			}
		}
	)

});
</script>

<div id="nypl-header">
	<ul id="nypl-navbar">
		<li class="home"><a href="http://www.nypl.org" title="Go to the home page"><span>The New York Public Library</span></a></li>
		<li><a href="http://nypl.bibliocommons.com/dashboard/user_dashboard"><span>My NYPL</span></a>
			<div class="my-nypl">
				<ul>
					<li><h5>My Borrowing</h5>
						<ul>
							<li><a href="http://nypl.bibliocommons.com/checkedout" title="">Checked Out</a></li>
							<li><a href="http://nypl.bibliocommons.com/holds/index/active" title="">Holds</a></li>
							<li><a href="http://nypl.bibliocommons.com/fines" title="">Fines</a></li>
							<li class="last"><a href="http://nypl.bibliocommons.com/accountmessages" title="">Library Messages</a></li>
						</ul>
					</li>
					<li><h5>My Shelves</h5>
						<ul>
							<li><a href="http://nypl.bibliocommons.com/collection/show/my/library/completed" title="">Completed</a></li>
							<li><a href="http://nypl.bibliocommons.com/collection/show/my/library/in_progress" title="">In progress</a></li>
							<li><a href="http://nypl.bibliocommons.com/collection/show/my/library/for_later" title="">For later</a></li>
							<li class="last"><a href="http://nypl.bibliocommons.com/lists/show/mine" title="">My Lists</a></li>
						</ul>
					</li>
					<li><h5>My Community</h5>
						<ul>
							<li><a href="http://nypl.bibliocommons.com/trustedsources" title="">I'm Following</a></li>
							<li><a href="http://nypl.bibliocommons.com/ignoredusers" title="">Ignored Users</a></li>
							<li><a href="http://nypl.bibliocommons.com/recently_shared" title="">Recently Shared</a></li>
							<li class="last"><a href="http://nypl.bibliocommons.com/messages" title="">Inbox</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</li>
		<li><a href="http://nypl.bibliocommons.com/dashboard"><span>Explore</span></a>
			<div class="explore">
				<ul>
					<li><h5>New &amp; Notable</h5>
						<ul>
							<li><a href="http://nypl.bibliocommons.com/dashboard" title="">Recent Activity</a></li>
							<li><a href="http://nypl.bibliocommons.com/explore/index/newly_acquired?f_on_order=false" title="">New Titles</a></li>
							<li><a href="http://nypl.bibliocommons.com/explore/index/awards" title="">Award Winners</a></li>
							<li><a href="http://nypl.bibliocommons.com/explore/index/best_sellers" title="">Bestsellers</a></li>
							<li><a href="http://nypl-src-kids.bibliocommons.com/" title="">Kids Summer Reading Club 2012</a></li>
							<li><a href="http://nypl-src-teens.bibliocommons.com/" title="">Teen Summer Reading 2012</a></li>
							<li class="last"><a href="http://nypl-src-adults.bibliocommons.com/" title="">Adult Summer Reading 2012</a></li>
						</ul>
					</li>
					<li><h5>Collections</h5>
						<ul>
							<li><a href="http://nypl.bibliocommons.com/search?q=books&amp;t=smart&amp;search_category=keyword&amp;title=Books" title="">Books</a></li>
							<li><a href="http://www.nypl.org/ebooks" title="">E-books &amp; Audiobooks</a></li>
							<li><a href="http://nypl.bibliocommons.com/search?q=movies&amp;t=smart&amp;search_category=keyword&amp;title=Movies" title="">Movies</a></li>
							<li><a href="http://nypl.bibliocommons.com/search?t=smart&amp;search_category=keyword&amp;q=music&amp;commit=Search&amp;searchOpt=catalogue&amp;title=Music+and+R" title="">Music &amp; Recordings</a></li>
							<li><a href="http://nypl.bibliocommons.com/search?t=smart&amp;search_category=keyword&amp;q=periodicals&amp;commit=Search&amp;searchOpt=catalogue" title="">Periodicals</a></li>
							<li><a href="http://digitalgallery.nypl.org/" title="">Images</a></li>
							<li class="last"><a href="http://www.nypl.org/collections/nypl-collections/braille-talking-books" title="">Braille &amp; Talking Books</a></li>
						</ul>
					</li>
					<li><h5>Made at NYPL</h5>
						<ul>
							<li><a href="http://www.nypl.org/blog" title="">Blogs</a></li>
							<li><a href="http://www.nypl.org/voices/audio-video" title="">Audio &amp; Video</a></li>
							<li class="last"><a href="http://www.nypl.org/voices/print-publications" title="">Print Publications</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</li>
		<li><a href="http://www.nypl.org/collections"><span>Research</span></a>
			<div class="research">
				<ul>
					<li><h5>Electronic Resources</h5>
						<ul>
							<li><a href="http://www.nypl.org/collections/articles-databases" title="">Articles and Databases</a></li>
							<li><a href="http://www.nypl.org/events/online-exhibitions" title="">Online Exhibitions</a></li>
							<li><a href="http://digitalgallery.nypl.org/" title="">Digital Gallery</a></li>
							<li><a href="http://www.nypl.org/collections/labs" title="">NYPL Labs</a></li>
							<li class="last"><a href="http://www.nypl.org/online_projects" title="Digital Projects">Digital Projects</a></li>
						</ul>
					</li>
					<li><h5>Tools and Services</h5>
						<ul>
							<li><a href="http://catalog.nypl.org/" title="">Classic Catalog</a></li>
							<li><a href="http://www.nypl.org/collections/nypl-recommendations/guides" title="">Research Guides</a></li>
							<li><a href="http://www.nypl.org/specialindexes" title="">Indexes to NYPL Collections</a></li>
							<li><a href="http://www.nypl.org/ask-nypl/research-questions-reproductions" title="">Get Copies</a></li>
							<li class="last"><a href="http://www.nypl.org/collections/nypl-recommendations" title="">NYPL Recommendations</a></li>
						</ul>
					</li>
					<li><h5>Collections</h5>
						<ul>
							<li><a href="http://www.nypl.org/research-collections" title="">Research Collections</a></li>
							<li><a href="http://www.nypl.org/find-archival-materials" title="">Manuscripts and Archives</a></li>
							<li><a href="http://wallachprintsandphotos.nypl.org/" title="">Prints &amp; Photos Online Catalog</a></li>
							<li class="last"><a href="http://www.nypl.org/collections/nypl-collections/preservation-division" title="">Preservation of NYPL Collections</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</li>
		<li><a href="http://www.nypl.org/help"><span>Using the Library</span></a>
			<div class="using-the-library">
				<ul>
					<li><h5>Get Oriented</h5>
						<ul>
							<li><a href="http://www.nypl.org/help/library-card" title="">Get a Library Card</a></li>
							<li><a href="http://www.nypl.org/help/borrowing-materials" title="">Borrowing</a></li>
							<li><a href="http://www.nypl.org/help/finding-things" title="">How To Find Things</a></li>
							<li><a href="http://www.nypl.org/help/computers-internet-and-wireless-access" title="">Computers</a></li>
							<li><a href="http://www.nypl.org/help/community-outreach/services-for-persons-with-disabilities" title="">Accessibility</a></li>
							<li><a href="http://www.nypl.org/help/about-nypl" title="">About the NYPL</a></li>
							<li class="last"><a href="http://www.nypl.org/voices/connect-nypl" title="">Connect with NYPL</a></li>
						</ul>
					</li>
					<li><h5>Services</h5>
						<ul>
							<li><a href="http://nypl.org/ask-nypl" title="">AskNYPL</a></li>
							<li><a href="http://www.nypl.org/help/computers-internet-and-wireless-access/reserving-computer" title="">Reserve a PC</a></li>
							<li><a href="http://www.nypl.org/help/community-outreach" title="">Community Outreach</a></li>
							<li><a href="http://www.nypl.org/ask-nypl/research-questions-reproductions" title="">Get Copies</a></li>
							<li><a href="http://www.nypl.org/help/research-services/interlibrary-loan" title="Interlibrary Loan">Interlibrary Loan</a></li>
							<li><a href="http://www.nypl.org/spacerental" title="">Space Rental</a></li>
							<li class="last"><a href="http://shop.nypl.org/" title="">The Library Shop</a></li>
						</ul>
					</li>
					<li><h5>I am a...</h5>
						<ul>
							<li><a href="http://www.nypl.org/events/teaching-learning" title="">Teacher</a></li>
							<li><a href="http://www.nypl.org/help/getting-oriented/for-job-seekers" title="">Job Seeker</a></li>
							<li><a href="http://smallbiz.nypl.org/" title="">Small Business Owner</a></li>
							<li><a href="http://www.nypl.org/help/getting-oriented/resources-kids" title="">Child</a></li>
							<li><a href="http://www.nypl.org/help/getting-oriented/resources-teens" title="">Teen</a></li>
							<li><a href="http://www.nypl.org/help/community-outreach/services-for-persons-with-disabilities" title="">Person with a Disability</a></li>
							<li><a href="http://www.nypl.org/help/community-outreach/immigrant-services" title="">Recent Immigrant</a></li>
							<li class="last"><a href="http://nypl.org/support" title="">NYPL Donor</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</li>
		<li><a href="http://www.nypl.org/locations"><span>Locations</span></a>
			<div>
				<ul class="simple">
					<li><a href="http://www.nypl.org/locations#manhattan-list" title="">Manhattan</a></li>
					<li><a href="http://www.nypl.org/locations#bronx-list" title="">The Bronx</a></li>
					<li><a href="http://www.nypl.org/locations#statenisland-list" title="">Staten Island</a></li>
					<li><a href="http://www.nypl.org/locations#research-list" title="">Research Libraries</a></li>
					<li class="last"><a href="http://www.nypl.org/help/getting-oriented/brooklyn-queens-libraries" title="Brooklyn and Queens Libraries">Brooklyn &amp; Queens</a></li>
				</ul>
			</div>
		</li>
		<li><a href="http://www.nypl.org/events"><span>Classes &amp; Events</span></a>
			<div>
				<ul class="simple">
					<li><a href="http://www.nypl.org/events/exhibitions" title="">Current Exhibitions</a></li>
					<li><a href="http://www.nypl.org/events/public-programs" title="">Programs</a></li>
					<li><a href="http://www.nypl.org/events/classes" title="">Classes</a></li>
					<li><a href="http://www.nypl.org/events/classes/adult-learning-centers" title="">Learn English</a></li>
					<li><a href="http://www.nypl.org/events/tours" title="">Tours</a></li>
					<li><a href="http://www.nypl.org/events/exhibitions-past" title="">Past Exhibitions</a></li>
					<li class="last"><a href="http://www.nypl.org/events/live-nypl" title="">LIVE from the NYPL</a></li>
				</ul>
			</div>
		</li>
		<li><a href="http://www.nypl.org/support"><span>Support the Library</span></a>
			<div class="support-the-library">
				<ul class="simple">
					<li><a href="http://nypl.org/donate" title="">Donate</a></li>
					<li><a href="http://www.nypl.org/support/membership" title="">Membership</a></li>
					<li><a href="http://www.nypl.org/help/about-nypl/volunteer-nypl" title="">Volunteer</a></li>
					<li><a href="http://www.nypl.org/honorandmemorial" title="Honor and Memorial Gifts">Honor and Memorial Gifts</a></li>
					<li><a href="http://www.nypl.org/support/benefit-events" title="">Benefit Events</a></li>
					<li><a href="http://www.nypl.org/support/planned-giving" title="">Planned Giving</a></li>
					<li><a href="http://shop.nypl.org/" title="">Shop</a></li>
					<li class="last"><a href="http://www.nypl.org/support/donate" title="">More Ways to Give</a></li>
				</ul>
			</div>
		</li>
		<li><a href="http://www.nypl.org/ask-nypl"><span>Help</span></a></li>
		
		<!-- search -->
		<li class="search">
			<a href="#" id="nypl-search-toggle" title="search NYPL.org"><span>Search</span></a>
		</li>
		<!-- /search -->
	</ul>
	<div id="nypl-search-top">
		<form action="http://www.nypl.org/" accept-charset="UTF-8" method="get" id="nypl-search-block-form">
			<input id="nypl-search-q" name="q" type="hidden" value="">
			<input id="nypl-search-t" name="t" type="hidden" value="smart">
			<input id="nypl-search-searchOpt" name="searchOpt" type="hidden" value="catalogue">
			<input class="form-text" maxlength="128" id="search-block-form-input" name="search_block_form" type="text" placeholder="Find books, music, movies, and more">
			<input alt="search catalog" id="nypl-search-button-catalog" class="catalog_button" name="commit" title="search catalog" type="button" value="Catalog">
			<input alt="search NYPL.org" id="nypl-search-button-nypl" class="nypl_button" name="commit" title="search NYPL.org" type="button" value="NYPL.org">
		</form>
	</div>
	<a href="#" id="nypl-menu-toggle">M</a>
</div>