	<div id="score">
		<div class="total" title="Buildings you have processed">0</div>
		<% if @current_page=="progress" %>
		<div id="map-total"></div>
		<% end %>
		<!-- <div id="level-bar" class="progress">
			<span class="percent">0%</span>
			<div class="bar level"></div>
		</div> -->
		
		<!-- <div class="level-animation"></div> -->
		<div id="map-bar" class="progress">
			<!-- <span class="percent">0%</span> -->
			<div class="bar map"></div>
		</div>
		<div id="score-save">SAVE SCORE</div>
		<% if @current_page=="progress" %>
		<div id="score-progress"><a href="/fixer/building">INSPECT MORE</a></div>
		<% else %>
		<div id="score-progress"><a href="/fixer/progress">VIEW PROGRESS</a></div>
		<% end %>
		<% if @current_page=="progress" %>
		<%= link_to "T", "", {:onclick=>"//recordOutboundLink(this, 'Outbound Links', 'Twitter');return false;",:id => "tweet", :title => "Share on Twitter"} %>
		<% end %>
	</div>
