  <div id="score">
    <%= link_to "T", "", {:onclick=>"javascript:_gaq.push(['_trackEvent', 'Tweet']);",:id => "tweet", :title => "Share on Twitter"} %>
    <div id="score-number" class="total" title="Buildings you have processed">0</div>
    <div class="popup-wrapper">
      <%= link_to "VIEW ", "javascript:;", :id => "link-view-inspections", :rel=>"nofollow" %>
      <div id="score-progress" class="popup progress">
      <% if @current_page=="progress" || @current_page=="fixer" %>
        <a href="/fixer/progress" class="popup-link">MY INSPECTIONS</a>
      <% elsif @current_page=="progress_numbers" || @current_page=="numbers" %>
        <a href="/numbers/progress" class="popup-link">VIEW INSPECTIONS</a>
      <% end %>
        <%= link_to "ALL INSPECTIONS", "/fixer/progress_all", :class => "popup-link" %>
        <div class="callout"></div>
      </div>
    </div>
  </div>
