	<div id="score">
		<div class="total"><%= link_to_unless_current "0", "/fixer/progress" %></div>
		<!-- <div class="level-animation"></div>
		<div id="level-bar" class="progress">
			<span class="percent">0%</span>
			<div class="bar level"></div>
		</div>
		<div id="map-bar" class="progress">
			<span class="percent">0%</span>
			<div class="bar map"></div>
		</div> -->
	</div>
