<%
# TODO: this link building has to improve
help_link = "#{geometry_path}?tutorial=true"
help_link = "#{address_path}?tutorial=true" if @current_page.include?"address"
help_link = "#{color_path}?tutorial=true" if @current_page.include?"color"
help_link = "#{polygonfix_path}?tutorial=true" if @current_page.include?"polygonfix"
help_link = "#{toponym_path}?tutorial=true" if @current_page.include?"toponym"
#the default
help_link = "javascript:;" if @current_page=="geometry" || @current_page=="address" || @current_page=="polygonfix" || @current_page=="color" || @current_page=="toponym"


%>
  <div id="task-container">
    <ul id="task-toggle">
      <%= content_tag :li, "INSPECT:", {:rel=>"nofollow", :class=> @current_page == "homepage" || @current_page.include?("progress") ? "inspect shown" : "inspect header"} %>
      <% @global_tasks.each do |task| %>
      <%= content_tag :li, (link_to_unless_current task[:name], task[:path], {:rel=>"nofollow", :class=>(@current_page==task[:page] ? "shown task-link" : "task-link")}), :class=>(@current_page!=task[:page] ? "hidden" : "shown") %>
      <% end %>
    </ul>
    <%= link_to "HELP", "#{help_link}", {:id => "link-help", :class => "icon"} unless controller_name == "general" %>
  </div>
