<% content_for :page_title do %>Footprint not found!<% end %>
<% content_for :dynamic_js do %>
  <%= stylesheet_link_tag    "home", :media => "all" %>
<% end %>
<%= render :partial => "partials/nav" %>

<div id="main-container">
  <div id="not-found">
    <div class="shadow">
      <h3>Footprint not found!</h3>
      <p>These aren't the buildings you're looking for.<br /><%= link_to "Back to Inspector HQ!", root_path %></p>
    </div>
  </div>
</div>

<%= render :partial => "partials/footer" %>
