<% content_for :page_title do %>Cookies Required<% end %>
<% content_for :dynamic_js do %>
	<script type="text/javascript">
	// scroll to top (hide bar in ios)
	window.addEventListener("load",function() {
		setTimeout(function(){
			window.scrollTo(0, 1);
		}, 0);
	});
	</script>
<% end %>
<div id="main-container">
	<div id="logo-background">
		<h1 class="logo"><span>Building Inspector</span></h1>

	    <%= link_to "GO!", geometry_path, :id => "link-try" %>

	    <div id="intro">
	    	<p>Cookies are required to use the Building Inspector. Please activate cookies and try again.</p>
			<%= render :partial => "partials/footer" %>
	    </div>
	</div>
</div>