<% content_for :page_title do %>Cookies Required<% end %>
<% content_for :dynamic_js do %>
  <%= stylesheet_link_tag    "home", :media => "all" %>
<% end %>
<%= render :partial => "partials/nav" %>

<div id="main-container">
  <div id="intro">
    <h3>Cookies required</h3>
    <p>Cookies are required to use the Building Inspector (we need those to keep track of your score and make sure all polygons are treated fairly). Please activate cookies and try again.</p>
  </div>
</div>

<%= render :partial => "partials/footer" %>
