@import "lib/css3-mixins";
@import "lib/button-mixins";
@import "variables";
@import "compass";
@import "compass/css3/transform";
@import "compass/utilities/general/clearfix";
@import "animate";

#about-task-list {
  text-align: center;

  @include clearfix;

  li {
    float: left;
    width: 45%;
    height: 200px;
    margin-bottom: 20px;

    &:nth-child(even) {
      float: right;
    }

    @media screen and (max-width: $desktopwidth) {
      float: none !important;
      width: auto;
    }
  }

  a {
    display: block;
  }
}

#intro h3.major.inspector {
  background: #0F0D0D asset-url("home/inspector.jpg", image) no-repeat;
  background-attachment: fixed;
  background-position: 0px 0px;
  margin-top: 60px;
  height: 300px;
  line-height: 300px;
  color: $grayLightest;
}