@import "lib/drr-variables";
@import "lib/nypl-header";
@import "lib/css3-mixins";
@import "lib/button-mixins";
@import "compass/utilities/general/clearfix";
@import "variables";
@import "compass/css3/transition";
@import "compass/css3/animation";
@import "animate";

#top-nav {
  position: absolute;
  height: 100px;
  color: $grayLightest;
  background: $grayDarker;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1112;
  @include transition(all, .5s);

  @media screen and (max-width: $desktopwidth) {
    position: fixed;
    right: 100%;
    left: -100%;
    bottom: 0;
    height: 100%;

    .scrollable {
      height: 100%;
      overflow: hidden;
      overflow-y: scroll;
    }

    &::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 4px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(0,0,0,0.5);
    }

    &.open {
      right: 50px;
      left: 0;

      #score {
        display: none;
      }
    }
  }

  // @media all and (max-device-width: $desktopwidth) and (orientation:landscape) {
  //   display: none;
  // }

  a {
    color: $grayLightest;

    &.introjs-showElement {
      color: $grayDark;
    }
  }

  a:hover {
    text-decoration: none;
  }

.icon {
  display: inline-block;
  // padding: 5px 10px;
  // background: $grayLighter;
  // font-size: 12px;

  // &:hover {
  //   background: $grayLightest;
  //   color: $grayLighter;
  // }

  &#link-logout {
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    @media screen and (max-width: $desktopwidth) {
      width: auto
    }
  }

  &#link-login, &#link-logout {
    // line-height: 24px;

    // &:before {
    //   content: "0";
    // }
  }

  &#link-help {
    margin-right: 1px;
    // &:before {
    //   content: "?";
    // }
  }

  &#link-about {
    // &:before {
    //   content: "i";
    // }
  }

  &#link-login, &#link-logout {
  }

  &#link-about, &#link-data {
    display: block;
    float: right;
    margin-right: 15px;

    @media screen and (max-width: $desktopwidth) {
      float: none;
      margin: 10px;
    }
  }

  &#link-data {
    margin-right: 0;
  }

  @media screen and (max-width: $desktopwidth) {
  }
}

#nav-branding {
  @include clearfix;

  @media screen and (min-width: $desktopwidth) {
    float: left;
  }

  h1.logo {
    background: asset-url("logo-horizontal.svg", image) center no-repeat;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $grayLightest;
    width: 235px;
    height: 38px;
    background-size: 100%;
    float: left;
    margin-top: 30px;
    margin-left: 0;

    a {
      display: inline-block;
      width: 100%;
      height: 100%;
    }

    span {
      display: none;
    }

    @media screen and (max-width: $desktopwidth) {
      margin-top: 6px;
      width: 180px;
    }
  }

  .nypl-logo {
    display: block;
    overflow: hidden;
    position: static;
    float: left;
    margin: 35px 10px;
    padding: 0;
    line-height: 31px;
    height: 31px;
    width: 31px;

    span {
      display: none;
    }

    @media screen and (max-width: $desktopwidth) {
      margin: 10px;
      width: 20px;
      height: 30px;

      &:before {
        font-size: 20px;
      }
    }
  }
}

}

#task-container {
  float: left;
  color: $grayDark;
  text-transform: uppercase;
  margin: 29px 20px 0;

  @media screen and (max-width: $desktopwidth) {
    float: none;
    @include clearfix;
    margin: 10px;
  }
}

#task-toggle {
  position: relative;
  float: left;
  width: 185px;
  background: $grayLightest;
  @include border-radius(3px);

  &.open {
    @include box-shadow(0px, 3px, 6px, 0px, $black);
  }

  @media screen and (max-width: $desktopwidth) {
    width: 100%;
  }

  li:first-child, li.shown {
    cursor: pointer;

    @media screen and (min-width: $desktopwidth) {
      &:after {
        @include drr-icon("V");
        position: absolute;
        right: 10px;
        top: 10px;
      }
    }
  }

  a {
    display: block;
    background: $grayLightest;
    color: $grayDarkest;
    padding: 10px 2px 8px 12px;
    line-height: 20px;

    &:hover {
      background: $grayDark;
      color: $grayLightest;
    }

    @media screen and (max-width: $desktopwidth) {
      color: $grayLightest;
      background: $gray;
    }
  }

  .shown {
    display: block;
    color: $grayLightest;
    background: $grayDarkest;
    padding: 10px 2px 8px 12px;
    line-height: 20px;
  }

  .hidden {
    display: none;

    @media screen and (max-width: $desktopwidth) {
      display: block !important;
    }
  }

  .header {
    display: none;
  }

  @media screen and (max-width: $desktopwidth) {
    .inspect {
      display: none;
    }
  }
}

#link-help {
  float: left;
  margin: 8px 10px;
}

a#tweet {
  color: $grayLightest;
  width: 25px;
  height: 15px;
  @include drr-icon();
  font-size: 20px;
}

#service-links {
  position: relative;
  float: right;
  margin: 37px 20px 0 0;

  @media screen and (max-width: $desktopwidth) {
    float: none;
    margin: 20px 10px;
    border-top: 1px solid $grayLight;
    padding-top: 20px;
  }
}

#links-account {
  position: relative;
  display: inline-block;
  padding: 0;
  margin: 0 15px 0 10px;
  text-transform: uppercase;
  float: left;

  @media screen and (max-width: $desktopwidth) {
    display: block;
    float: none;
  }
}

.popup-wrapper {
  position: relative;
  display: inline-block;
}

.popup {
  position: absolute;
  top: 40px;
  bottom: inherit;
  left: -70%;
  background: $grayDark;
  width: 200px;
  display: none;
  // font-size: 12px;
  // line-height: 12px;

  &.progress {
    left: -270%;

    @media screen and (max-width: $desktopwidth) {
      left: -150px;
      top: 35px;
      width: 140px;
    }

    .callout {
      @media screen and (max-width: $desktopwidth) {
        right: 0;
        left: auto;
        top: -10px;
        bottom: auto;
        border-top: none;
        border-bottom: 10px solid $grayDark;
      }
    }
  }

  @media screen and (max-width: $desktopwidth) {
    font-size: 0.8em;
    left: 0;
    right: auto;
    top: auto;
    width: 210px;
    bottom: 35px;
  }

  .popup-link {
    background: $grayDark;
    display: block;
    font-size: 0.9em;
    padding: 10px;

    &.active {
      background: $grayDarkest;
    }

    @media screen and (max-width: $desktopwidth) {
      padding: 6px 10px;
      font-size: 1em;
    }

    &:hover {
      background: $grayLighter !important;
      color: $grayDarkest !important;
    }
  }

  .callout {
    position: absolute;
    top: -10px;
    left: 80px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: none;
    border-bottom: 10px solid $grayDark;

    @media screen and (max-width: $desktopwidth) {
      left: 20px;
      top: auto;
      bottom: -10px;
      border-bottom: none;
      border-top: 10px solid $grayDark;
    }
  }
}

#nav-toggle {
  display: none;
  position: absolute;
  width: 40px;
  height: 40px;
  right: -40px;
  top: 0px;
  background: $grayDarker;
  z-index: 1;
  @include border-radius-separate(0px, 0px, 5px, 0px);

  a {
    color: $grayLightest;
  }

  a:hover {
    text-decoration: none;
  }

  @media screen and (max-width: $desktopwidth) {
    display: block;
  }

  .hamburger {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 28px;
    font-size: 8px;
    font-weight: bold;

    &:before {
      @include drr-icon("M");
      font-size: 16px;
      display: block;
      width: 40px;
      height: 16px;
    }
  }
}

#nav-credits {
  display: none;
  margin: 20px 10px;

  p {
    margin: 0 30px 1.1em;
    color: $grayLight;
  }

  .nypl-logo {
    margin: 0;
    display: inline-block;
    width: auto;

    &:before {
      float: left;
    }
  }

  @media screen and (max-width: $desktopwidth) {
    display: block;
  }
}
