@import "css3-mixins";
@import "button-mixins";
@import "compass/utilities/general/clearfix";
@import "variables";
@import "score";

#loader {
	width: 100%;
	height: 100%;
	background: $white;
	font-size: 30px;
	line-height: 120px;
	z-index: 131;
	position: absolute;
}
