@import "lib/css3-mixins";
@import "lib/button-mixins";
@import "variables";
@import "compass";
@import "compass/css3/transform";
@import "compass/utilities/general/clearfix";
@import "animate";
@import "partials/home-explained";
@import "partials/home-slides";

#main-container {
  // background: url(/assets/pattern.svg) $grayLight -50px 120px;
  // background-size: 40%;
  background: $grayLightest;

  em {
    font-weight: normal;
    font-style: italic;
  }

  strong {
    font-weight: bold;
  }

  h3 {
    font-size: 30px;
    line-height: 30px;
    // margin: 5px 0 20px 20px;

    @media screen and (max-width: $desktopwidth) {
      font-size: 20px;
      line-height: 20px;
    }
  }

  dl {
    padding: 0 10px 0 40px;
    max-width: 480px;
    color: $grayDarker;
  }

  dt {
    font-weight: bold;
  }

  dd {
    margin-bottom: 1.1em;
  }

}

.subhead {
  width: 70%;
  margin-left: auto !important;
  margin-right: auto !important;
  font-size: 1.5em;
  text-align: center;
  line-height: 1.5em;
  margin-top: 1em;
  margin-bottom: 1em;
}

#intro {

  padding-bottom: 50px;

  h3.major {
    width: auto;
    max-width: none;
    color: $grayDarkest;
    text-align: center;
    margin: 2em 0 1em;
    font-size: 3em;
    font-weight: normal;

    @media screen and (max-width: $desktopwidth) {
      font-size: 20px;
      line-height: 20px;
    }
  }

  @media screen and (max-width: $desktopwidth) {
    width: auto;

    &.about {
      padding-top: 50px;
    }

    pre code {
      font-size: 0.8em;
    }
  }
}

$welcomecolor: #23190D;

#welcome {
  text-align: center;
  background: $welcomecolor;
  color: $white;
  font-size: 1.1em;
  // @include box-shadow(0 -280px 110px -135px $grayLightest inset);

  @media screen and (max-width: $desktopwidth) {
    font-size: 0.7em;
  }

  .wrapper {
    width: 960px;
    min-height: 400px;
    margin: 0 auto;
    background: asset-url("welcome.jpg", image);
    background-attachment: fixed;
    background-position: 50% 0px;
    @include box-shadow(-40px 0px 20px -30px $welcomecolor inset, 40px 0px 20px -30px $welcomecolor inset);
    // @include box-shadow(0 -280px 110px -135px $grayLightest inset);
    @include clearfix;

    @media screen and (max-width: $desktopwidth) {
      width: auto;
      min-height: 300px;
    }
  }

  h3 {
    margin: 20px auto 10px;
    font-size: 4em;
    font-weight: bold;
    line-height: 0.9em;
  }

  h4 {
    margin: 0;
    font-weight: normal;
  }

  h5 {
    margin-top: 50px;
    font-weight: normal;

    @media screen and (max-width: $desktopwidth) {
      font-size: 1.2em;
    }
  }

  hr {
    border: 1px solid $white;
    width: 100px;
    margin: 40px auto;

    @media screen and (max-width: $desktopwidth) {
      margin: 2em auto 1.5em;
    }
  }

  p {
    width: 70%;
    margin: 0 auto 1em;

    @media screen and (max-width: $desktopwidth) {
      width: 80%;
      font-size: 1.5em;
    }
  }

}

.big-button {
  display: block;
  width: 220px;
  margin: 70px auto 35px;
  padding: 15px 0px;
  background: $red;
  color: $white !important;
  font-size: 1.5em;
  line-height: normal;
  text-align: center;

  @include border-radius(5px);
  @include transition(background-color, .2s);

  &:hover {
    background: $green;
  }
}

#link-random-task {
  margin-top: 0;
}

#home-scores {
  font-size: 1em;
  line-height: 1em;
  margin: 6em 0;
  @include clearfix;

  h3 {
    width: auto;
    max-width: none;
    color: $grayDarkest;
    text-align: center;
    font-weight: normal;
  }

  ul {
    @include clearfix;
  }

  li {
    float: left;
    width: 25%;
    text-align: center;
    font-size: 1.25em;
    line-height: 1.25em;

    @media screen and (max-width: $desktopwidth) {
      width: 49%;
      height: 120px;
      margin-bottom: 20px;
      font-size: 1em;
      line-height: 1em;
    }
  }

  a {
    font-size: .8em;
  }

  img {
    display: block;
    margin: 0 auto 10px;
    @media screen and (max-width: $desktopwidth) {
      height: 40px;
    }
  }
}

.intro-path {
  position: absolute;
  left: 0;
  top: 0;
}

