@import "meta-include";
@import "compass";
@import "compass/css3/transform";
@import "animate";
@import "partials/home-explained";
@import "partials/home-slides";
@import "partials/about";

#main-container {
  // background: url(/assets/pattern.svg) $grayLight -50px 120px;
  // background-size: 40%;
  background: $grayLightest;

  em {
    font-weight: normal;
    font-style: italic;
  }

  strong {
    font-weight: bold;
  }

  h3 {
    font-size: 30px;
    line-height: 30px;
    // margin: 5px 0 20px 20px;

    @media screen and (max-width: $desktopwidth) {
      font-size: 20px;
      line-height: 20px;
    }
  }

  dl {
    padding: 0 10px 0 20px;
    color: $grayDarker;
  }

  dt {
    font-weight: bold;
    text-transform: uppercase;
    float: left;
    border-top: 2px solid;
    text-align: right;
    margin-right: 30px;
    width: 15%;
    font-size: 12px;

    @media screen and (max-width: $desktopwidth) {
      width: 30%;
    }
  }

  dd {
    margin-bottom: 1.1em;
    float: left;
    width: 65%;

    @media screen and (max-width: $desktopwidth) {
      width: 55%;
    }
  }

  h6 {
    font-family: $mainfont;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.subhead {
  width: 70%;
  margin-left: auto !important;
  margin-right: auto !important;
  font-size: 1.5em;
  text-align: center;
  line-height: 1.5em;
  margin-top: 1em;
  margin-bottom: 1em;
}

#intro {

  padding-bottom: 50px;

  h3.major {
    width: auto;
    max-width: none;
    color: $grayDarkest;
    text-align: center;
    margin: 2em 0 1em;
    font-size: 3em;
    font-weight: normal;

    @media screen and (max-width: $desktopwidth) {
      font-size: 20px;
      line-height: 20px;
    }
  }

  @media screen and (max-width: $desktopwidth) {
    width: auto;

    &.about {
      padding-top: 50px;
    }

    pre code {
      font-size: 0.8em;
    }
  }
}

@include keyframes(popIn) {
  0% {
    @include transform(rotateZ(-200deg) scale(0));
  }
  90% {
    @include transform(rotateZ(-20deg) scale(1.2));
  }
  100% {
    @include transform(rotateZ(-20deg) scale(1));
  }
}

#link-sticker {
  position: absolute;
  height: 100px;
  width: 100px;
  left: 50%;
  bottom: 60px;
  color: $white;
  background: $orange;
  text-align: center;
  @include border-radius(50px);
  line-height: 100px;
  margin-left: -170px;

  @include transform(rotateZ(-20deg));

  @include animation(popIn .35s ease-in);

  @include transition(background-color, .2s);

  &:hover {
    background: $green;
  }

  @media screen and (max-width: $desktopwidth) {
    font-size: 1.5em;
    bottom: 40px;
  }
}

$welcomecolor: #23190D;

#welcome {
  text-align: left;
  background: $welcomecolor;
  color: $white;
  font-size: 1.1em;
  // @include box-shadow(0 -280px 110px -135px $grayLightest inset);

  @media screen and (max-width: $desktopwidth) {
    font-size: 0.7em;
  }

  .wrapper {
    position: relative;
    width: 960px;
    min-height: 400px;
    margin: 0 auto;
    // @include box-shadow(-40px 0px 20px -30px $welcomecolor inset, 40px 0px 20px -30px $welcomecolor inset);
    // @include box-shadow(0 -280px 110px -135px $grayLightest inset);
    @include clearfix;

    .text {
      position: relative;
      z-index: 1;
      @include clearfix;
    }

    @media screen and (max-width: $desktopwidth) {
      width: auto;
      min-height: 300px;
      background: asset-url("welcome.jpg", image);
      background-attachment: fixed;
      background-position: 50% 0px;

      .circular {
        display: none;
      }
    }

    @media screen and (min-width: $desktopwidth) {
      width: auto;
      min-height: 300px;

      .circular {
        background: asset-url("welcome.jpg", image);
        background-position: 50%;
        width: 400px;
        height: 400px;
        @include border-radius(50%);
        position: absolute;
        top: -10px;
        right: 100px;
        z-index: 0;
      }
    }
  }

  h3 {
    width: 70%;
    margin: 20px auto 10px;
    font-size: 4em;
    font-weight: bold;
    line-height: 0.9em;
  }

  h4 {
    width: 70%;
    margin: 0 auto 10px;
    font-weight: normal;
  }

  h5 {
    width: 70%;
    margin: 20px auto 0;
    font-weight: normal;

    @media screen and (max-width: $desktopwidth) {
      font-size: 1.2em;
    }
  }

  hr {
    border: 1px solid $white;
    width: 100px;
    margin: 40px 0;

    @media screen and (max-width: $desktopwidth) {
      margin: 2em auto 1.5em;
    }
  }

  p {
    width: 70%;
    margin: 0 auto 1em;

    @media screen and (max-width: $desktopwidth) {
      // width: 80%;
      font-size: 1.5em;
    }
  }

}

.big-button {
  display: block;
  width: 220px;
  margin: 70px auto 35px;
  padding: 15px 0px;
  background: $red;
  color: $white !important;
  font-size: 1.5em;
  line-height: normal;
  text-align: center;

  @include border-radius(5px);
  @include transition(background-color, .2s);

  &:hover {
    background: $green;
  }
}

#link-random-task {
  margin-top: 0;
}

#home-scores {
  font-size: 1em;
  line-height: 1em;
  margin: 6em 0;
  @include clearfix;

  h3 {
    width: auto;
    max-width: none;
    color: $grayDarkest;
    text-align: center;
    font-weight: normal;
  }

  ul {
    @include clearfix;
  }

  li {
    float: left;
    width: 33%;
    text-align: center;
    font-size: 1.25em;
    line-height: 1.25em;
    margin-bottom: 1em;

    @media screen and (max-width: $desktopwidth) {
      width: 49%;
      height: 120px;
      margin-bottom: 20px;
      font-size: 1em;
      line-height: 1em;
    }
  }

  a {
    font-size: .8em;
  }

  img {
    display: block;
    margin: 0 auto 10px;
    @media screen and (max-width: $desktopwidth) {
      height: 40px;
    }
  }
}

.intro-path {
  position: absolute;
  left: 0;
  top: 0;
}

