@import "meta-include";
@import "score";

input[type=checkbox].css-checkbox {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height:1px;
  width:1px;
  margin:-1px;
  padding:0;
  border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
  padding-left:20px;
  height:15px;
  display:inline-block;
  line-height:15px;
  background-repeat:no-repeat;
  background-position: 0 0;
  font-size:15px;
  vertical-align:middle;
  cursor:pointer;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
  background-position: 0 -15px;
}

.css-label{
  background-image:url(/assets/dark-check-green.png);
  font-weight: normal;
}

#buttons {
  .wrapper {
    position: relative;
    width: 230px;
    margin: 0 auto;

    @include clearfix;
  }

  .multiple {
    text-align: center;
    text-transform: none;
    color: $grayLighter;
    margin-top: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    @include border-radius;

    @media screen and (max-width: $desktopwidth) {
    }

    label {
      margin: 5px 0;
      @include text-shadow($grayDarker -2px 1px);
      color: $white;
    }
  }
}

#main-container {
  @include clearfix;
  position: absolute;
  margin-top: 0;
  padding-top: 0;
  top: 100px;
  bottom: 0;
  left: 0;
  right: 0;

  &.compact {
    bottom: 110px;
  }

  &.progress, &.transparent {
    bottom: 0;
  }

  #map-container, #map, #map2 {
    width: 100%;
    height: 100%;
    // background: asset-url("map-load-tile.svg", image);
  }

  #map, #map2 {
    position: absolute;
    background: transparent;
  }

  #map2 {
    // background: $grayLighter;
  }

  @media screen and (max-width: $desktopwidth) {
    &, &.compact {
      top: 0;
      bottom: 0;
    }
  }
}

#map-highlight {
  position: absolute;
  left: 30%;
  right: 30%;
  top: 10%;
  bottom: 20%;
}

.small-highlight #map-highlight {
  left: 35%;
  right: 35%;
  bottom: 30%;
}

#controls {
  position: absolute;
  margin-left: -155px;
  left: 50%;
  height: 80px;
  bottom: 0;
  background: transparent;

  .spinner {
    left: 50%;
    top: 40%;
  }

  &.compact {
    height: 110px;

    @include transition(height, 0.1s);

    &.multiple {
      height: 170px;
    }
  }

  &.transparent {
    height: 140px;

    &.multiple {
      height: 175px;
    }

    .wrapper {
      width: 310px;

    }

    @media screen and (max-width: $desktopwidth) {
      margin-left: -155px;
    }
  }

  @media screen and (max-width: $desktopwidth) {
    height: 80px;
    margin-left: -115px;
  }
}

.wrapper a, .wrapper span {
  width: 60px;
  height: 40px;
  margin: 5px 10px 0;
  padding-top: 20px;
  float: left;
  text-align: center;
  text-decoration: none;
  color: $white;

  @include rounded-corners(5px);

  &:first-child {
    margin-left: 5px;
  }

  &:last-child {
    margin-right: 5px;
  }

  &.button {
    background-color: $grayDarker;
  }

  &#no-button, &.red {
    margin-left: 5px;
    background-color: $nocolor;
  }

  &#fix-button, &.yellow {
    background-color: $fixcolor;
  }

  &#yes-button, &.green {
    margin-right: 5px;
    background-color: $yescolor;
  }

  &#submit-button {
    background: $green;
    width: 220px;
    margin-left: 5px;
  }

  &#add-button {
    background: $fixcolor;
    width: 120px;
    margin-right: 0;
  }

  &#save-button {
    background: $green;
    width: 80px;

    &.color {
      width: 136px;
      margin-left: 90px;
    }
  }

  &#pink-button, &#blue-button, &#green-button, &#yellow-button, &#gray-button {
    float: left;
    width: 56px;
    height: 40px;
    margin-right: 5px;
    margin-left: 0;
    line-height: 22px;
    font-size: 12px;
    color: $grayDarkest;
  }

  &#pink-button, &#pink-button.pressed {
    background: asset-url("color/pink.jpg", image);
    margin-left: 0;
  }

  &#blue-button, &#blue-button.pressed {
    background: asset-url("color/blue.jpg", image);
    // background-color: $blue;
  }

  &#green-button, &#green-button.pressed {
    background: asset-url("color/green.jpg", image);
    // background-color: $greenPaper;
  }

  &#yellow-button, &#yellow-button.pressed {
    background: asset-url("color/yellow.jpg", image);
    // background-color: $yellow;
  }

  &#gray-button, &#gray-button.pressed {
    background: asset-url("color/gray.jpg", image);
    // background-color: $grayDarkest;
    margin-right: 0;
  }

  &.active {
    font-size: 24px;
  }

  &.inactive {
    color: transparent;
    background-color: transparent;
  }

  &.building {
    // width: 80px;
  }

  &.centered {
    margin: 50px auto 0;
    float: none;
    display: block;
  }

  &#yes-button:hover, &#no-button:hover, &#fix-button:hover, &#submit-button:hover, &#add-button:hover, &#save-button:hover {
    background: $grayDarker;
  }

  &.secondary {
    display: none;
  }

  &#pink-button, &#blue-button, &#green-button, &#yellow-button, &#gray-button, &#save-buttton {
    border: 1px solid $gray;

    &.pressed {
      color: $white;
      border-color: $white;
    }
  }
}

#map-message {
  display: none;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 35%;
  z-index: 101;

  span {
    display: inline-block;
    width: 220px;
    margin: 0 auto;
    padding: 10px;
    color: $white;
    background: $grayDarker;
    @include border-radius(5px);
  }

  strong {
    color: $grayLighter;
  }

  a {
    color: $orange;
  }
}

#map-tutorial {
  display: none;
  width: 100%;
  height: 100%;
  position: relative;
  // left: 140px;
  // top: 2%;
  z-index: 110;
  background-color: $gray;
  // @include box-shadow(0, 0, 15px);

  #link-exit-tutorial {
    font-size: 30px;
    width: 160px;
    cursor: pointer;

    &:hover {
      background: $grayDarker;
    }
  }

  .slides {
    // height: 540px;

    .slide {
      padding-top: 0;

      position: absolute;
      bottom: 10px;
      width: 100%;

      @include clearfix;

      .wrapper {
        width: 290px;
        margin: 0 auto;
      }

    }

    p, h2 {
      text-align: center;
      color: $grayLightest;
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 0;
      margin: 0 10px 10px;
      clear: both;
    }

    p:first-child {
      padding-top: 40px;
    }

    img {
      display: block;
      margin: 0 auto;
    }

    a {
      color: $white;
    }
  }

  .overlay {
    z-index: 12;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    @include clearfix;
  }

  .dots {
    bottom: 0;
  }
}

// TODO: tutorial stuff should be in separate file
#tutorial-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 111111;
  background: rgba(0,0,0,.75);
}

#tutorial-overlay-wrapper {
  margin: 40px auto 0;
  width: 600px;
  position: relative;

  @media screen and (max-width: $desktopwidth) {
    margin-top: 10px;
  }

  .close {
    right: -24px;
    top: -20px;

    @media screen and (max-width: $desktopwidth) {
      right: 5px;
      top: 0;
    }

    &:before {
      color: $grayLightest;
    }
  }
}

#tutorial-header {
  text-align: center;
  color: white;
  font-size: 1.4em;
  width: 70%;
  margin: 20px auto;

  @media screen and (max-width: $desktopwidth) {
    // position: absolute;
    // left: 0;
    // top: -55px;
    margin: 0;
    width: 85%;
    font-size: 1em;
    line-height: 1.2em;
  }
}

#tutorial-overlay .overlay {
  padding: 20% 5%;
  font-size: 2em;
  line-height: 1.5em;
  text-align: center;
  color: $grayLightest;
}

.spinner-mini {
  left: 10px;
  top: 10px;
}

.leaflet-bottom.leaflet-right {
  // bottom: -10px;
}

.leaflet-top.leaflet-right, .leaflet-top.leaflet-left {
  @media screen and (max-width: $desktopwidth) {
    top: 60px;
  }
}

.leaflet-container img {
  cursor: move;
}

.leaflet-minimap-control {
}

// introjs overrides
.tutorial {
  font-family: $mainfont;

  strong {
    font-weight: normal;
    color: $orange;
  }
  .introjs-tooltipbuttons {
    min-width: 240px;
  }

  .introjs-button {
    border: none;
    padding: 5px 10px;
    @include border-radius(5px);
    @include text-shadow(none);
    @include box-shadow(none);
    background: $gray;
    line-height: 13px;
    text-transform: uppercase;
    color: $white;
    text-decoration: none;

    &:hover {
      color: $grayDark;
      background: $white;
    }
  }

  .introjs-skipbutton {
    background: $grayLighter;
  }

  .introjs-prevbutton {
    margin-right: 1px;
    @include border-radius(5px 0 0 5px);
  }

  .introjs-nextbutton {
    @include border-radius(0 5px 5px 0);
  }

  .introjs-disabled, .introjs-disabled:hover {
    color: $white;
    background: $grayLightest;
  }
}

.introjs-overlay {
  opacity: .15 !important;
}

.introjs-helperLayer {
  border: 10px solid $grayLightest;
  background: transparent;
}

.introjs-helperLayer.noMap {
  border: none;
  background: rgba(255,255,255,.9);

  .introjs-nextbutton {
    // display: none;
  }

  &.yesNext .introjs-nextbutton {
    display: inline-block;
  }
}