@import "lib/css3-mixins";
@import "lib/button-mixins";
@import "compass/utilities/general/clearfix";
@import "compass/css3/transition";
@import "compass/css3/box-shadow";
@import "variables";
@import "score";


.polygon-highlight {
	border: 2px solid $orange;
	width: 10px;
	height: 10px;
	@include border-radius(10px);
	margin-left: -5px;
	margin-top: -5px;
	z-index: 1111;

	@include transition(all, .5s, ease-out);

	&.scaled {
		@include transform(scale(5, 5));
	}
}

#buttons.numbers {
	a {
		margin: 10px 0 0 0;
		width: 70px;
		line-height: 35px;
		padding-top: 10px;
	}

	#submit-button {
		background: $green;
		margin-left: 80px;
		width: 130px;
	}
}

#map div.leaflet-popup-content {
	margin: 2px 16px;
	text-align: center;
	font-size: 20px;
}

.number-flag {
	position: absolute;
	z-index: 1111;
	text-align: center;
	@include transition(all, .1s, ease-out);

	.cont {
		position: relative;
		margin-top: 0;
		margin-left: -35px;
		width: 60px;
		padding: 5px;
		background: rgba(232, 228, 226, 0.75);
		@include box-shadow(#999 0 0 15px);
		@include border-radius(5px);
		@include transition(all, .1s, ease-out);

		&.active {
			margin-top: 40px;
		}

		&:before {
			content: "";
			display: block;
			position: absolute;
			border-bottom: 10px solid rgba(232, 228, 226, 0.75);
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			top: -10px;
			left: 25px;
		}
	}

	.input {
		width: 60px;
		height: 25px;
		border: none;
		background: transparent;
		padding: 0;
		margin: 0;
		text-align: center;
		font-size: 18px;
		
		&::-webkit-inner-spin-button,
		&::-webkit-outer-spin-button {
		    -webkit-appearance: none;
		    margin: 0;
		}
	}

	.num-close {
		position: absolute;
		right: -5px;
		top: -10px;
		content: attr(data-icon);
		font-family:$iconfont;
		-webkit-font-smoothing: antialiased;
		display: inline-block;
		font-size: 20px;
		padding: 0;
		color: $orange;
		background: $grayLightest;
		border-radius: 10px;
		width: 21px;
		height: 21px;
		margin: 0;
		line-height: 20px;

		&:hover {
			text-decoration: none;
		}
	}
}

.flags {
	position: absolute;
	text-align: center;
	top: -30px;
	height: 30px;
	width: 100%;

	// @include transition-property(left,top);
	// @include transition-duration(.2s);
	// @include transition-timing-function(ease-out); 

	span {
		display: inline-block;
		background: $grayLightest;
		border: 1px solid $grayLight;
		border-radius: 10px;
		padding: 0 5px;

		a {
			color: $grayDarker;

			&:hover {
				text-decoration: none;
			}

			&:after {
				content: attr(data-icon);
				font-family:$iconfont;
				-webkit-font-smoothing: antialiased;
				content: 'x';
				display: inline-block;
				font-size: 15px;
				padding-left: 2px;
			}
		}
	}
}
