@import "lib/css3-mixins";
@import "lib/button-mixins";
@import "compass/utilities/general/clearfix";
@import "compass/css3/transform";
@import "variables";
@import "score";

#link-progress-close {
	top: 45px;

	// @media screen and (max-width: $desktopwidth) {
	// 	top: 45px;
	// }

	&:before {
		color: $grayDarkest;
	}
}

.polygon-highlight {
	border: 3px solid $orange;
	width: 20px;
	height: 20px;
	@include border-radius(20px);
	margin-left: -10px;
	margin-top: -10px;
	z-index: 1111;

	@include transition(all, .5s, ease-out);

	&.scaled {
		/*General*/
		transform: scale(2, 2);
		/*Firefox*/
		-moz-transform: scale(2, 2);
		/*Microsoft Internet Explorer*/
		-ms-transform: scale(2, 2);
		/*Chrome, Safari*/
		-webkit-transform: scale(2, 2);
		/*Opera*/
		-o-transform: scale(2, 2);
	}
}

#controls {
	@media screen and (max-width: $desktopwidth) {
		height: 1px;
	}
}


.leaflet-container {
	background: $grayLight;
}

.cluster-small, .cluster-medium, .cluster-large {
	width: 30px;
	height: 30px;
	text-align: center;
	background: $grayLightest;
	color: $grayDarker;
	font-size: 16px;
	line-height: 30px;
	border: 2px solid $grayLighter;
	@include rounded-corners(15px);
}

.cluster-medium {
	background: $grayLighter;
	border-color: $grayLight;
}

.cluster-large {
	background: $grayLight;
	border-color: $gray;
}