@import "score";

#link-progress-close {
  top: 45px;

  // @media screen and (max-width: $desktopwidth) {
  //  top: 45px;
  // }

  &:before {
    color: $grayDarkest;
  }
}

.polygon-highlight {
  border: 2px solid $orange;
  width: 10px;
  height: 10px;
  @include border-radius(10px);
  margin-left: -5px;
  margin-top: -5px;
  z-index: 1111;

  @include transition(all, .5s, ease-out);

  &.scaled {
    @include transform(scale(5, 5));
  }
}

#legend {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 1;
  text-align: left;
  font-size: 12px;
  padding: 5px 10px;
  background: $white;
  @include border-radius(3px);

  @media screen and (max-width: $desktopwidth) {
    top: auto;
    bottom: 10px;
    left: 50px;
    right: 50px;
  }

  #layers_toggler {
    width: 100%;
  }

  ul {
    padding: 0;
    margin: 0;
    @include clearfix;
  }

  li {
    float: left;
    margin-right: 10px;
  }

  a {
    cursor: pointer;
  }

  .color {
    display: inline-block;
    width: 10px;
    height: 10px;

    &.yes {
      background: $yescolor;
    }

    &.no {
      background: $nocolor;
    }

    &.fix {
      background: $fixcolor;
    }

    &.nil {
      background: $grayLight;
    }

    &.pink {
      background: $pink;
    }

    &.blue {
      background: $blue;
    }

    &.yellow {
      background: $yellow;
    }

    &.green {
      background: $green;
    }

    &.gray {
      background: $gray;
    }
  }
}

#controls {
  @media screen and (max-width: $desktopwidth) {
    height: 1px;
  }
}

#map-container .spinner {
  left: 50%;
  top: -50%;
}

.leaflet-container {
  background: transparent;
}

.cluster-small, .cluster-medium, .cluster-large {
  width: 36px;
  height: 36px;
  text-align: center;
  background: $grayLightest;
  color: $grayDarker;
  font-family: $mainfont;
  font-size: 12px;
  line-height: 26px;
  border: 2px solid $grayLighter;
  @include rounded-corners(18px);
}

.cluster-medium {
  background: $grayLighter;
  border-color: $grayLight;
}

.cluster-large {
  background: $grayLight;
  color: $grayDarkest;
  border-color: $gray;
}