@import "css3-mixins";
@import "button-mixins";
@import "compass/utilities/general/clearfix";
@import "variables";
@import "compass/css3/border-radius";

#main-container {
	@include clearfix;
	position: absolute;
	margin-top: 0;
	top: 100px;
	bottom: 150px;
	left: 0;
	right: 0;

	#map-container, #map {
		width: 100%;
		height: 100%;
	}
}

#controls {
	position: absolute;
	height: 150px;
	bottom: 0;
	left: 0;
	right: 0;
	background: $gray;
}

#score {
	position: relative;
	font-size: 20px;
	padding: 5px 10px;
	background: $grayLight;
	color: $white;
	width: 260px;
	margin: 0 auto;
	text-align: center;
	line-height: normal;

	@include border-radius(0 0 10px 10px);

	/* clearfix 
	seen: http://stackoverflow.com/a/1633170/160933 
	*/
	/* For modern browsers */
	&:before,
	&:after {
		content:"";
		display:table;
	}
	&:after {
		clear:both;
	}
	/* For IE 6/7 (trigger hasLayout) */
	& {
		zoom:1;
	}

	/* end clearfix */

	.progress {
		position: relative;
		font-size: 18px;
		background: $grayDarkest;
		margin: 5px 0;
		text-transform: uppercase;
	}

	.percent {
		position: absolute;
		left: 5px;
		top: -3px;
		color: lighten($orange, 10%);
	}

	.bar {
		height: 3px;
		width: 0%;

		&.level {
			background: lighten($orange, 10%);
		}

		&.map {
			background: lighten($orange, 10%);
		}
	}

	#score-save, #score-progress {
		float: left;
		text-align: left;
		width: 100px;
		color: $grayDarker;
		font-size: 12px;
		padding: 5px 0;
		cursor: pointer;

		a {
			color: $grayDarker;
		
			&:hover {
				color: $white;
				text-decoration: none;
			}
		}
	}

	#score-progress {
		float: right;
		text-align: right;
	}

	// @media screen and (min-width: $desktopwidth) {
	// 	top: 0;
	// }
}

#map-total {
	color: $grayDarkest;
	font-size: 12px;
}

a#tweet {
	display: block;
	position: absolute;
	right: -30px;
	top: 5px;
	color: $grayDarkest;
	width: 20px;
	height: 20px;
	font-size: 20px;
	content: attr(data-icon);
	font-family:$iconfont;
	-webkit-font-smoothing: antialiased;
}
