@import "lib/css3-mixins";
@import "lib/button-mixins";
@import "compass/utilities/general/clearfix";
@import "variables";
@import "compass/css3/border-radius";
@import "compass/css3/text-shadow";
@import "compass/css3/box-shadow";

#main-container {
	@include clearfix;
	position: absolute;
	margin-top: 0;
	padding-top: 0;
	top: 100px;
	bottom: 110px;
	left: 0;
	right: 0;

	#map-container, #map, #map2 {
		width: 100%;
		height: 100%;
		// background: asset-url("map-load-tile.svg", image);
	}

	#map, #map2 {
		position: absolute;
		background: transparent;
	}

	#map2 {
		// background: $grayLighter;
	}

	@media screen and (max-width: $desktopwidth) {
		top: 0;
		bottom: 0;
	}
}

#map-highlight {
	position: absolute;
	left: 30%;
	right: 30%;
	top: 20%;
	bottom: 20%;
}

#controls {
	position: absolute;
	height: 110px;
	bottom: 0;
	left: 0;
	right: 0;
	background: $gray;

	@media screen and (max-width: $desktopwidth) {
		background: transparent;
		height: 100px;
	}

	@media all and (max-device-width: $desktopwidth) and (orientation:landscape) {
		display: none;
	}
}

#score {
  position: relative;
  float: right;
  margin: 37px 0 0 0;

	@media screen and (max-width: $desktopwidth) {
		background: $grayDarker;
		height: 32px;
		position: fixed;
		right: 100px;
		top: -37px;
		padding: 8px 10px 0;
	}
}

#score-number {
  display: inline-block;
  font-size: 2em;
  line-height: 0;
  color: $black;
  font-weight: bold;
	@media screen and (max-width: $desktopwidth) {
		line-height: 16px;
	}
}

#link-view-inspections {
  font-size: 0.7em;
}

#score-progress {
	// float: right;
	// text-align: right;
	// font-size: 0.7em;

}

#link-exit {
	content: attr(data-icon);
	content: ' x';
	font-family:$iconfont;
	-webkit-font-smoothing: antialiased;
	text-transform: none;
	font-size: 11px;

	@media screen and (max-width: $desktopwidth) {
		font-size: 9px;
		padding: 2px 4px;
	}
}

#map-total {
	color: $grayDarkest;
	font-size: 12px;
}

// introjs overrides
.tutorial {
	font-family: $mainfont;

	strong {
		font-weight: normal;
		color: $orange;
	}
	.introjs-tooltipbuttons {
		min-width: 240px;
	}

	.introjs-button {
		border: none;
		padding: 5px 10px;
		@include border-radius(5px);
		@include text-shadow(none);
		@include single-box-shadow(none);
		background: $grayLight;
		line-height: 13px;
		text-transform: uppercase;
		color: $white;
		text-decoration: none;

		&:hover {
			color: $grayLight;
			background: $white;
		}
	}

	.introjs-skipbutton {
		background: $grayLighter;
	}

	.introjs-prevbutton {
		margin-right: 1px;
		@include border-radius(5px 0 0 5px);
	}

	.introjs-nextbutton {
		@include border-radius(0 5px 5px 0);
	}

	.introjs-disabled, .introjs-disabled:hover {
		color: $white;
		background: $grayLightest;
	}
}

.introjs-overlay {
	opacity: .15 !important;
}

.introjs-helperLayer {
	border: 10px solid $grayLightest;
	background: transparent;
}

.introjs-helperLayer.noMap {
	border: none;
	background: rgba(255,255,255,.9);

	.introjs-nextbutton {
		// display: none;
	}

	&.yesNext .introjs-nextbutton {
		display: inline-block;
	}
}

