@import "drr-base";
@import "nypl-header";
@import "css3-mixins";
@import "button-mixins";
@import "compass/utilities/general/clearfix";
@import "variables";


body {
	font-family: $mainfont;
	background: $white;
	color: $grayDarker;
}

table td, table th {
	padding: 5px;
}

p {
	margin-bottom: 2em;
}

#nav-admin {
	background: $grayDarkest;
	padding: 10px 0 0 10px;

	@include clearfix;

	li {
		float: left;
		margin: 0 10px 10px 0;
	}

	a {
		color: $grayLightest;
	}
}

#nypl-header {
	display: none;

	@media screen and (min-width: $desktopwidth) {
		display: block;
	}
}

#top-nav {
	@include clearfix;

	width: $generalwidth;
	margin: 20px auto;
	text-align: center;

	a {
		color: $blue;
	}

	@media screen and (max-width: $desktopwidth) {
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 110;
	}
}

#main-container {
	width: $generalwidth;
	margin: 0 auto;
	text-align: center;
}

#intro {
	position: relative;
	margin: 20px 0;
	padding: 5px 0 20px;
	background: lighten($orange, 10%);

	h1 {
		color: darken($orange, 20%);
	}
}

#link-try {
	display: block;
	width: 150px;
	margin: 20px auto;
	padding: 15px 0;
	font-size: 24px;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	color: $white;
	background: $yescolor;

	@include rounded-corners(5px);

	&:hover {
		color: $white;
		text-decoration: none;
		background: $grayDarkest;
	}
}

#footer {
	width: $generalwidth;
	margin: 50px auto 0;
	padding-bottom: 100px;
	text-align: center;
}