@import "meta-include";

html {
    -webkit-text-size-adjust: none;
}

body {
  font-family: $mainfont;
  font-size: $baseFontSize;
  background: $grayLight;
  color: $grayDarker;
}

div {
  font-size: 1em;
}

table td, table th {
  padding: 5px;
}

p, ul {
  font-size: 1.1em;
  margin-bottom: 1.1em;
}

h3 {
  // margin: 0 auto 20px;
  text-transform: uppercase;
}

::selection {
  background-color: $red;
  color: $grayLightest;
}

#nav-admin {
  background: $grayDarkest;
  padding: 10px 0 0 10px;

  @include clearfix;

  li {
    float: left;
    margin: 0 10px 10px 0;
  }

  a {
    color: $grayLightest;
  }
}

a, a:link, a:visited, a:hover {
  text-decoration: none;
}

.nypl-logo {
  color: $grayLightest;
  text-align: center;
  display: block;
  width: 200px;
  margin: 0 auto 10px;

  &:hover {
    color: $grayLightest;
    text-decoration: none;
  }

  &:before {
    @include drr-icon("W");
    display: block;
    font-size: 30px;
    margin-bottom: 5px;
  }
}

.nypl-logo-loader {
  @include drr-icon();
  display: block;
  font-size: 40px;
  margin-bottom: 5px;
}

.close {
  position: absolute;
  display: block;
  height: 31px;
  overflow: hidden;
  width: 31px;
  line-height: 31px;
  // position: fixed;
  top: 5px;
  right: 5px;
  z-index: 111;

  // @media screen and (min-width: $desktopwidth) {
  //  position: absolute;
  // }

  &:before {
    @include drr-icon("x");
    font-size: 30px;
  }

  &:hover {
    text-decoration: none;
  }

  span {
    display: none;
  }
}

#main-container {
  background: $grayLightest;
  padding-top: 100px;

  @media screen and (max-width: $desktopwidth) {
    padding-top: 0;
  }
}

#nypl-mini {
  display: none;
  position: absolute;
  left: 10px;
  bottom: 0px;
  width: 26px;
  height: 26px;
  background-color: $grayDarkest;
  border-radius: 50%;

  span {
    display: none;
  }

  &:before {
    font-size: 16px;
    line-height: 26px;
  }

  @media screen and (max-width: $desktopwidth) {
    display: block;
  }
}

#loader {
  width: 100%;
  height: 100%;
  background: $white;
  font-size: 30px;
  line-height: 200px;
  z-index: 1001;
  position: absolute;
  text-align: center;

  .message {
    margin: 50px 0;
  }

  @media all and (max-device-width: $desktopwidth) and (orientation:landscape) {
    display: none;
  }
}

#cookies {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: $blueDark;
  color: $grayLightest;

  h3 {
    margin-top: 20%;
  }

  h3, p {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
}

#intro {
  width: 100%;
  max-width: $desktopwidth;
  margin: 0 auto;
  background: $grayLightest;
  @include clearfix;

  h1, h2, h3, h4, h5, h6 {
    color: $grayDarkest;
  }

  h1, h2, h3, h4, h5, h6, p {
    padding: 0 10px 0 20px;
    // max-width: $desktopwidth/2;

    @media screen and (max-width: $desktopwidth) {
      font-size: 1em;
      line-height: 1.5em;
    }
  }

  a {
    color: $red;

    &:hover {
      color: darken($red, 10%);
    }
  }

  ul {
    padding: 0 10px 0 20px;
  }

}

.about {
  p {
    text-align: left;
    color: $grayDarker;
  }
}

#not-found {
  margin-top: -12px;
  background: $black;
  text-align: right;

  .shadow {
    width: 960px;
    height: 339px;
    margin: 0 auto;
    background: asset-url("404.jpg", image) no-repeat;
    @include box-shadow(-468px 0px 54px -30px $black inset, 40px 0px 20px -30px $black inset);
    color: $white;

    @media screen and (max-width: $desktopwidth) {
      width: auto;
      @include box-shadow(-150px 0px 230px -30px $black inset);
    }
  }

  h3 {
    padding-top: 30px;
    margin-right: 20px;
  }

  p {
    margin-right: 20px;
  }

  a {
    color: $red;
  }
}

#footer {
  padding: 20px 0;
  background: $gray;

  p {
    text-align: center;
    margin: 0 auto 2em;
    width: 500px;
    font-size: 12px;
    color: $grayDarkest;

    a {
      color: $grayLightest;
    }

    @media screen and (max-width: $desktopwidth) {
      width: auto;
      margin: 0 10px 1em;
    }
  }

  // @media all and (max-device-width: $desktopwidth) and (orientation:landscape) {
  //   display: none;
  // }
}

#admin-container {
  padding: 12px;
  background: $white;
}

#ie8 {
  display: none;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: $grayLightest;
  text-align: center;
  background: $grayDarker;
  z-index: 11111;

  a {
    color: $orange;
  }

  p {
    padding: 100px 100px 0;
  }
}

