@import "lib/drr-variables";

// Grays
// -------------------------
$black:                 #404040;
$grayDarkest:           $black;//lighten($black, 10%);
$grayDarker:            lighten($grayDarkest, 10%);
$grayDark:              lighten($grayDarker, 10%);
$gray:                  lighten($grayDark, 10%);
$grayLight:             lighten($gray, 10%);
$grayLighter:           lighten($grayLight, 10%);
$grayLightest:          lighten($grayLighter, 10%);
$white:                 #F7F7CC;

// Accent colors
// -------------------------
$blueDark:              #004963;
$blue:                  #00747A;
$blueLight:             lighten($blue, 10%);
$yellow:                #FF9D00;
$yellowDark:            darken($yellow, 10%);
$yellowLight:           lighten($yellow, 10%);

// Messaging colors
// -------------------------
$green:                 #3EBBA7;
$greenLight:            #E3E5A5;
$red:                   #A31500;
$orange:                #FF9D00;
$pink:                  #F1B6BB;
$purple:                #953064;

$baseFontSize: 16px;

$iconfont: $iconFontFamily;
$mainfont: "allumi-std", "Helvetica Neue", Helvetica, Arial, sans-serif;
$buttoncolor: #f00;
$black: #000;
$white: #fff;
$canvascolor: #111;

$nocolor: $red; // #f00;
$yescolor: $green; // #016D17;
$fixcolor: $yellow; // #ff0;

$levelcolor: #BE66E7; // purple
$mapcolor: #4D7ED5; // blueish


$redbuildingcolor: rgb(207, 77, 77);
$greenbuildingcolor: rgb(86, 158, 58);
$bluebuildingcolor: rgb(77, 150, 207);
$yellowbuildingcolor: rgb(197, 202, 72);

$desktopwidth: 500px;

$generalwidth: 345px;